.menu-container{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.username{
    float: right;
    margin-right: 20px;
}

.nav-container {
    position: fixed;
    background: #3498DB;
    color: #fff;
    top: 0;
    height: 80px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    z-index: 100;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 22px;
  left: 9px;
  right: 9px;
  height: 4px;
  background: #FFF;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #FFF;
  content: "";
}

.c-hamburger span::before {
  top: -10px;
}

.c-hamburger span::after {
  bottom: -10px;
}

.c-hamburger--htra {
  background-color: #3498DB;
}

.c-hamburger--htra span {
  transition: transform 0.3s;
}

.c-hamburger--htra span::before {
  transform-origin: top left;
  transition: transform 0.3s, width 0.3s, top 0.3s;
}

.c-hamburger--htra span::after {
  transform-origin: bottom left;
  transition: transform 0.3s, width 0.3s, bottom 0.3s;
}

/* active state, i.e. menu open */
.c-hamburger--htra.is-active {
  background-color: #2980B9;
}

.c-hamburger--htra.is-active span {
  transform: rotate(180deg);
}

.c-hamburger--htra.is-active span::before,
.c-hamburger--htra.is-active span::after {
  width: 50%;
}

.c-hamburger--htra.is-active span::before {
  top: 0;
  transform: translateX(-4px) translateY(2px) rotate(-45deg);
}

.c-hamburger--htra.is-active span::after {
  bottom: 0;
  transform: translateX(-4px) translateY(-2px) rotate(45deg);
}


//list items

.drop {
    position: relative;
}
.drop ul {
    background: #3498DB;
    color: #fff;
    position: absolute;
    z-index: 99;
    right: 21px;
    top: 80px;
    transition: all 0.3s ease;
    transform: scale(0);
    transform-origin: 100% -7%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.20), 0 4px 10px 0 rgba(0, 0, 0, 0.16);
}

.drop li {
    display: block;
    color: #fff;
    width: 100%;
}
.drop a {
    width: 100%;
    color: #fff;
    padding: 1em 18px;
    display: inline-block;
    white-space: pre;
    box-sizing: border-box;
}
.drop.is-active ul{
    transform: scale(1);
}
